PORT=8001

# Database configuration

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mydb
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Redis configuration
REDIS_URL=redis://localhost:6379